/*  font-family: 'Amatic SC', cursive; */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Acme', sans-serif;
}
.flex-container{
	display: flex;
	justify-content: center;
}
.menu{
	background-color: #E66C73;
	width: 100%;
	margin: auto;
	text-align: center;

}
.menu a{
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	border-right: 1px solid gray;
	cursor:crosshair;
	flex-grow: 1;
}

.menuOculto{
	display: none;
}
.menu a:hover{
	background-color: #c1474e;
}

@media (min-width: 200px) and (max-width: 550px){
	.flex-container{
		flex-direction: column;
	}
	.menuOculto{
		display: inline;
		color: white;
		font-size: 40px;
		padding: 5px 20px;
	}
	.menu{
		background-color: #343131;
		width: 100%;
		margin: auto;
		text-align: center;
		font-family: 'Amatic SC', cursive;
		font-weight: 600;
		
		
	}
	.menu a{
		color: white;
		text-decoration: none;
		padding: 10px 20px;
		border-bottom: 1px solid black;
		flex-grow: 1;
		cursor:s-resize;
	}	
	.menu a:hover{
		background-color: #26223d;
	}
	.hiden{
		display: none;
	}
	.muestra{
		display: inline;
	}
}

